/* Error.css */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    text-align: center;
  }
  
  .error-image {
    max-width: 30%; /* Reduzco el tamaño de la imagen al 30% del contenedor */
    margin-bottom: 20px; /* Agrego espacio entre la imagen y el texto */
  }
  
  .error-title {
    font-size: 24px; /* Cambia el tamaño del título según tus preferencias */
  }
  
  .error-message {
    font-size: 16px; /* Cambia el tamaño del mensaje según tus preferencias */
    margin: 10px 0; /* Agrega espacio vertical entre los mensajes */
  }
  